################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lab1/Lab1-1/bin/Debug/netcoreapp3.1
/Lab1/Lab1-1/obj
